.btn{
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 15px 40px;
        display: inline-block;
        border-radius: 100px;
        transition: all .2s;
        color: rgba($color: $color-grey-dark, $alpha: 1.0);
        position: relative;
        // animation-name: moveInBottom;
        font-size: $default-font-size;
        // animation-duration: 2s;
        // animation-timing-function: ease-in;
        //cahnege for the button element
        border: none;
        cursor: pointer;

        

}

    &:hover{
        transform: translateY(-3px);
        /*aşağı yukarı kaymasını sağlar*/
        box-shadow: 0 10px 20px rgba($color-black,0.2);
        /*üzerine gelindiğinde gölge verir.*/

        &::after{
            transform: scaleX(1.4) scaleY(1.6);
            /*buton üzerine gelindikten sonra 1.1 kadar büyüt*/
            opacity: 0;
        }
        }

    &:active,
    &:focus{
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba($color-black,0.2);
        }

    &--white {
        background-color: $color-white;
        color: $color-grey-dark;

        &::after {
            background-color: $color-white;
        }
    }
    
    &--green {
        padding: 10px 35px;
        margin: 35px;
        margin-left: 95px;
        background-color: $color-primary;
        color: rgba($color: $color-white, $alpha: 1.0);

        &::after {
            background-color: $color-primary;
        }
    }


    &::after{
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }

    &--animated{
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
    }
}

.btn-text {
    &:link,
    &:visited{
        font-size: $default-font-size;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
        transition: all .2s;
    }

    &:hover{
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color: $color-black, $alpha: 1.0);
        transform: translateY(-2px);
    }

    &:active{
        box-shadow: 0 .5rem 1rem rgba($color: $color-black, $alpha: 1.0);
        transform: translateY(0);
    }
}